#main{
    font-family: poppins;
    font-size: 1.25vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #f4f4f4;
    width: 30vw;
    height: 30vh;
    border-radius: 0.521vw;
}
#low-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}