footer{
    position: fixed;
    color: red;
    background-color: #333333;
    width: 100vw;
    max-width: 100vw;
    left: 0;
    bottom: 0;
}
#box{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 90%;
}
#bottom-box{
    text-decoration-line: underline;
    text-align: center;
    width: 100vw;
    height: 10%;
}