body{
    font-family: poppins;
}
.item-title{
    padding-bottom: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.block{
    justify-content: center;
}
.item-title, .block{
    display: flex;
    margin: auto;
    width: 80vw;
    background-color: #f4f4f4;
    padding-left: 4vw;
    padding-right: 4vw;
}
.code-block, .resultaat-block{
    text-align: center;
    width: 50%;
}
